body {
    @include media('>=lg') {
        height: 100vh;
    }
}

.container {
    border-radius: setSize(5);
    box-shadow: 0px 0px 0px 7px rgba(0,0,0, .05);
}

.border-radius {
    border-radius: setSize(5);
}

.modal-supplier-list {
    list-style-type: none;

    li {
        margin: setSize(7) 0;
        font-size: setSize(14);
    }
}