.btn {
    &.btn-secondary {
        background: rgba(255,255,255,0.2);
        background: linear-gradient(to bottom, rgba(242,242,242, .5) 0%, rgba(0,0,0, .22) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
        border: none;
        color: #494949;
    }

    &.btn-primary {
        background-color: rgba(107,161,243,1);
        background-image: linear-gradient(top, rgba(107,161,243,1) 0%, rgba(31,118,240,1) 100%);
        border: none;
    }
}