.table {
    border: 1px solid setColor(table-border-gray);
    margin-bottom: 0;
    border-radius: setSize(5);
    
    thead {
        th {
            padding: setSize(26) setSize(29);
            border: none;
            background-color: setColor(table-th-bcg);
        }
    }

    tbody {
        tr {
            &:hover {
                cursor: pointer;
            }
        }

        td {
            border: 1px solid setColor(table-border-gray);
            color: setColor(table-text);

            &.name-container {
                padding: setSize(20) setSize(29); 
            }

            &.badge-container {
                text-align: center;
            }

            &.reference-container,
            &.value-container {
                text-align: center;
            }
        }
    }
}